**CMSC178DA**
# ACTIVITY 2: EDA by Calculating 5‐Number Summary and Constructing Box‐and‐Whiskers Plot <br>

## Submitted by:

Peladas, Daenielle Rai A. <br>
Section B - TF 10:30 AM - 12:00 AM

---

## The Case

A data analyst was given the task by the head of office to look into the stability of the network
connections in two (2) locations of their office. She gathered the following samples of data for
round‐trip transit times (also known colloquially as “pings”) from the two locations: 
<br>

**Location I:** 1.6, 4.0, 3.6, 4.8, 4.2, 3.4, 5.4, 3.5, 2.8, 2.1, 3.1, 3.3, 2.2, 4.4, 4.8 seconds <br>
**Location II:** 3.0, 6.7, 3.9, 7.9, 4.7, 7.1, 0.5, 1.7, 6.6, 1.1, 2.0, 0.4 seconds 
<br>

*The data analyst poses this question to himself: which of the two (2) locations in their office has
an unstable network connection?*

---

## The 5-Number Summary

### Calculations

In [2]:
import pandas as pd

In [3]:
ping_location_1 = {"Location 1 Ping Rate": [1.6, 4.0, 3.6, 4.8, 4.2, 3.4, 5.4, 3.5, 2.8, 2.1, 3.1, 3.3, 2.2, 4.4, 4.8]}
ping_location_2 = {"Location 2 Ping Rate": [3.0, 6.7, 3.9, 7.9, 4.7, 7.1, 0.5, 1.7, 6.6, 1.1, 2.0, 0.4]}

In [4]:
df_loc1 = pd.DataFrame(ping_location_1)
df_loc2 = pd.DataFrame(ping_location_2)

In [9]:
df_loc1.describe().loc[['mean', 'min', '25%', '50%', '75%', 'max']]

      Location 1 Ping Rate
mean              3.546667
min               1.600000
25%               2.950000
50%               3.500000
75%               4.300000
max               5.400000

In [10]:
df_loc2.describe().loc[['mean', 'min', '25%', '50%', '75%', 'max']]

      Location 2 Ping Rate
mean                 3.800
min                  0.400
25%                  1.550
50%                  3.450
75%                  6.625
max                  7.900

### Steps taken

- Import the pandas library
- Input the provided data on the ping rates between the two locations in a dictionary
- Convert the said dictionary into two separate dataframes through pandas

---

## The Box-and-Whiskers Plot

### Generated Boxplot

In [ ]:
import seaborn as sns

In [ ]:
# pd.melt converts the dataframe to long form, pd.concat combines them
df = pd.concat({'df1': df1.melt(), 'df2': df2.melt()}, names=['source', 'old_index'])
# convert the source index to a column, and reset the old index
df = df.reset_index(level=0).reset_index(drop=True)

sns.boxplot(data=df, x='variable', y='value', hue='source', palette='turbo')

### Narrative

---

## Interpretation